{% extends 'base.html.twig' %}

{% block title %}Nos produits phares{% endblock %}

{% block body %}
    <h1>Nos produits phares</h1>

    <p>il y a <strong>{{ nombre }}</strong> produits dans la BDD</p>

    <div class="row">

        {% for i in 1..3 %}
           <div class="col">
                <div class="card">
                    <img src="https://picsum.photos/200/200" class="img-fluid" alt="photo du produit">
                    <div class="card-body">
                        <h4 class="card-title">chaise en bois</h4>
                        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque, nostrum.</p>
                        <a href="#" class="btn btn-primary btn-sm">Détails</a>
                        <a href="#" class="btn btn-success btn-sm">ajouter</a>
                    </div>
                
                </div>
            </div> 
        {% endfor %}
        
    </div>

    <hr>

    <h2>Service irreprochable</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis quidem unde quaerat rem illum fugit.</p>

    <div class="row mb-5">
        {% include "partials/_assurance.html.twig"  with 
            {
                'color':'primary',
                'icone':'fas fa-truck',
                'text': "Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eaque cum velit repudiandae dignissimos consequatur eveniet?"
            } 
        %}
        {% include "partials/_assurance.html.twig"  with 
            {
                'color':'success',
                'icone':'fas fa-check',
                'text': "Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eaque cum velit repudiandae dignissimos consequatur eveniet?"
            } 
        %}
        {% include "partials/_assurance.html.twig"  with 
            {
                'color':'warning',
                'icone':'fas fa-lock',
                'text': "Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eaque cum velit repudiandae dignissimos consequatur eveniet?"
            } 
        %}
    </div>

{% endblock %}
